.md-nav__title {
  display: none;
}
.md-nav__item--nested > .md-nav__link {
  font-weight: normal;
  font-weight: bold;
  font-size: 18px;
}
/* Изменяем "Справочники" */
.md-nav__link[href*="/%D0%A1%D0%BF%D1%80%D0%B0%D0%B2%D0%BE%D1%87%D0%BD%D0%B8%D0%BA%D0%B8/"] {
  font-size: 18px;
  font-weight: bold;

}
/* Изменяем "Термины" */
.md-nav__link[href*="/%D0%A2%D0%B5%D1%80%D0%BC%D0%B8%D0%BD%D1%8B"] {
  font-size: 18px;
  font-weight: bold;

}
/* Изменяем "Для разработчиков" (с пробелом) */
.md-nav__link[href*="Для-разработчиков"] {
  font-size: 18px;
  font-weight: bold;

}
/* Изменяем "Контактные данные" (с пробелом) */
.md-nav__link[href*="Контактные-данные"] {
  font-size: 18px;
  font-weight: bold;

}
/* Изменяем "Вопросы" */
.md-nav__link[href*="Вопросы"] {
  font-size: 18px;
  font-weight: bold;

}
/* Изменяем "Создание документа" (href*= наименование самого файла) */
.md-nav__link[href*="Документ"] {
  font-size: 18px;
  font-weight: bold;

}
/* Центрируем заголовок h1 на странице */
.md-content h1 {
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  color: #4A4A4A; /* Серый цвет */
  letter-spacing: 2.3px; /* Разрядка текста */
}
.md-content h2 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1.5px; /* Разрядка текста */
}
/* Выделение цветом только при переходе по якорю */
 h3:target{
  background-color: #ece2fd; /* Светло-фиолетовый цвет */
  padding: 4px 8px;
  border-radius: 6px;
  display: inline-block;
  transition: background-color 0.3s ease;
}
/* Выделение цветом только при переходе по якорю */
 h4:target{
  background-color: #ece2fd; /* Светло-фиолетовый цвет */
  padding: 4px 8px;
  border-radius: 6px;
  display: inline-block;
  transition: background-color 0.3s ease;
}
.md-content p {
  text-align: justify;

}
img.with-border {
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 8px;
}
.md-content li {
    text-align: justify;
}
.md-typeset details summary {
    font-family: var(--md-text-font, sans-serif);
    font-size: var(--md-text-font-size);
    font-weight: var(--md-text-font-weight);
}
details summary {
    font-size: 16px;
    font-weight: bold; /* Сделает заголовок более заметным */
    cursor: pointer; /* Добавляет указатель, показывая, что элемент кликабельный */
}

details {
    font-size: 16px;
}