/* Меняем стрелку на плюс для неразвёрнутого раздела */
.md-nav__item--has-children > .md-nav__toggle {
    font-size: 22px;
    color: #6c5ce7; /* Цвет для плюса */
}

.md-nav__item--has-children > .md-nav__toggle:before {
    content: "+";
    font-size: 22px;
}

/* Меняем на минус при раскрытии */
.md-nav__item--has-children > .md-nav__toggle.md-nav__toggle--active:before {
    content: "−"; /* Минус при открытом разделе */
}
